{
    "extends": "airbnb",
    "rules":
    {
        "comma-dangle": "off",
        "semi": "off",
        "no-extra-semi": "off",
        "max-len": "off",
        "arrow-parens": "off",
        "no-console": "off",
        "import/no-absolute-path": "off",
        "import/no-named-as-default": "off",
        "import/extensions": "off",
        "react/forbid-prop-types": "off",
        "react/no-danger": "off",
        "react/prop-types": "off",
        "react/jsx-one-expression-per-line": "off",
        "no-underscore-dangle": "off",
        "no-unused-expressions": "off",
        "object-curly-newline": "off",
        "function-paren-newline": "off",
        "no-confusing-arrow": ["error", {"allowParens": true}],
        "implicit-arrow-linebreak": "off",
        "react/jsx-filename-extension": "off",
        "react/require-default-props": "off",
        "jsx-a11y/href-no-hash": "off",
        "class-methods-use-this": "off",
        "import/no-extraneous-dependencies": "off",
        "jsx-a11y/anchor-is-valid": ["warn",
        {
            "aspects": ["invalidHref"]
        }]
    }
}